<footer>
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="social-media ml-5">
                <a href="https://www.facebook.com/Gable-Allgood-2021-111333557660106" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Facebook_svg_5282541.png"  alt="">
                </a>
            </div>

            <div class="social-media">
                <a href="https://m.tiktok.com/h5/share/usr/6924444045612336133.html?_d=secCgYIASAHKAESMgowr7eYe8o%2Fa59WGh0WGqbNUCMZlCdhcUTB0nG3XrwUmPONMyZm5kGbrdugYV2iav2sGgA%3D&language=en&sec_uid=MS4wLjABAAAAcSptYcavFzQFd8GLtgLh1LPveOqpJkiUYLScXUrc2-ayABvaBtz61rS1m-DrmTyn&sec_user_id=MS4wLjABAAAAcSptYcavFzQFd8GLtgLh1LPveOqpJkiUYLScXUrc2-ayABvaBtz61rS1m-DrmTyn&share_author_id=6924444045612336133&share_link_id=15DC61E3-686E-4FD6-A167-311A1F525373&tt_from=copy&u_code=dgm91b9kb8i3ea&user_id=6924444045612336133&utm_campaign=client_share&utm_medium=ios&utm_source=copy" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../assets/Social Media/icons8-tiktok-512.png" alt="">
                </a>
            </div>

            <div class="social-media">
                <a href="https://instagram.com/gableallgood2021?igshid=3iad8ha2zfvg" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Instagram_svg_5282544.png" alt="">
                </a>
            </div>
            
            <div class="social-media">
                <a href="https://twitter.com/gableallgood?s=21" target="_blank" rel="noopener noreferrer">
                <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Twitter5_svg_5282551.png" alt="">
            </a>
            </div>
        </div>
    </div>
</footer>