<footer>
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="social-media ml-5">
                <a href="https://www.facebook.com/profile.php?id=100077598290323" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Facebook_svg_5282541.png"  alt="">
                </a>
            </div>


            <div class="social-media">
              <a href="https://www.instagram.com/votesmithermanmartinez/" target="_blank" rel="noopener noreferrer">
                <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Instagram_svg_5282544.png" alt="">
              </a>
            </div>

            <div class="social-media">
              <a href="https://twitter.com/SmitherMartinez" target="_blank" rel="noopener noreferrer">
                <img height="50px" width="50px" src="../../assets/Social Media/iconfinder_Rounded_Twitter5_svg_5282551.png" alt="">
              </a>
            </div>
            <div class="social-media">
                <a href=" https://linktr.ee/SmitherMartinez" target="_blank" rel="noopener noreferrer">
                    <img height="50px" width="50px" src="../../assets/Social Media/185087_link_icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
