<!-- TODO: USE FLEX-WRAP PROPERLY -->

<h3 class="p-2">Meet the Candidates!</h3>
    <div class="intro p-2">
        <div class="intro-1 p-2">
            <img class="pic-shot" src="../../assets/Candidates/isaac.jpg" width="100%">
            <img src="../../assets/Candidates/AGPC.png" width="100%" alt="">
        </div>

        <div class="intro-1">
        <p class="p-2">
          Student Government has been such a big part of my life and has given me so much experience in being a student leader from serving as the Director of City Relations my sophomore year, to my term as Treasurer of USG during the start of the pandemic, and in my current roles as Co-Chair of the Governmental Relations Committee and a Senator-At-Large. I’ve been able to work with so many amazing people to better the student experience, and I am more than ready to take on this new challenge and utilize everything that I have learned to bring more resources and opportunities for every student to be a #BolderBearcat.
            <br> <br>
            This campaign is all about reconsidering what’s possible on our campus and pushing past our own experiences to create a UC that is more inclusive, more connected, and most importantly more bold! (Yes, I know that’s not grammatically correct leave me alone!)
            <br><br>
            You can learn more about our campaign by following us on Instagram @votesmithermanmartinez and using our linktree to access the rest of our content!
            <br> <br>

        </div>


        <div class="intro-2 intro-2-img p-2">
            <img class="pic-shot" src="../../assets/Candidates/yulia.jpg" width="100%">
            <img src="../../assets/Candidates/TAVPC.png" width="100%" alt="">
        </div>

<div class="intro-2 intro-2-write p-2">
 <p>
  I remember my first Student Government meeting my 2nd year where I was a Legislative Aid for the Campus Life Committee. From there I grew to be a Senator for the College of Engineering and Applied Science Tribunal, and now my current position as a Senator-At-Large. Working alongside some amazing leaders has truly made me look at myself in a whole new light.
    <br>
I know I am ready to take this position in stride and create a UC where there are resources and opportunities for every student to be a #BolderBearcat. <br>
<br>
Our campaign is really about looking at what we originally thought was possible, and then taking it further to create a Bolder UC.
<br>
Learn more about our campaign by following us on instagram @votesmithermanmartinez and use the linktree to see what we have so far!
<br>
We have a long way to go on the Bolder Bearcats campaign trail so make sure to keep up to see what we have to offer!
</p>
</div>
</div>

<!-- <div class="vision text-center">
    <h1>OUR VISION FOR THE STUDENT GOVERNMENT</h1>
<p>We envision a Student Government that is transparent and accessible to all students. By creating initiatives for open dialogue, efforts to advance sustainability, and re-envisioning the University of Cincinnati holistically, we will welcome every student to a spot at our table. We believe that there is no stronger voice on a college campus than that of a student - and Together We Will make sure all are heard. </p>

</div>

<div class="goals text-center">
    <h1>OUR VISION FOR THE STUDENT BODY</h1>

<p>This past year has presented circumstances like no other before, there is a need to give power back to students. By focusing on student involvement, academic opportunities, and the little things that make the college experience that much better, Gable+Allgood dedicates this campaign to the campus experience lost over the last year. The next steps of UC defines the legacy of its current students; Together We Will create a campus accepting and celebrative of all students.</p>
</div>

 -->
