
<!-- TODO: CENTER H4 and image -->


<platform-icons [description]="false" [lastPlat]="true"></platform-icons>

<H2 class="text-center p-3">Campus Experience</H2>

<platform-list [platforms] = "campusExp" [specialCase]="false"></platform-list> 

<H2 class="text-center p-3">Action</H2>

<platform-list [platforms] = "action" [specialCase]="false"></platform-list> 

<H2 class="text-center p-3">Sustainability</H2>

<platform-list [platforms] = "sustainability" [specialCase]="false"></platform-list> 



<H2 class="text-center p-3">Varsity</H2>

<platform-list [platforms] = "varsity" [specialCase]="false"></platform-list>

<H2 class="text-center p-3">Your Campus, Your Voice</H2>

<platform-list [platforms] = "yourcampus" [specialCase]="true"></platform-list>
