
<!-- TODO: CENTER H4 and image -->


<platform-icons [description]="false" [lastPlat]="true"></platform-icons>

<H2 class="text-center p-3">UC Infrastructure Plan</H2>

<platform-list [platforms] = "campusExp" [specialCase]="true"></platform-list>

<H2 class="text-center p-3">Equity and Inclusion</H2>

<platform-list [platforms] = "action" [specialCase]="true"></platform-list>

<H2 class="text-center p-3">Community Engagement</H2>

<platform-list [platforms] = "sustainability" [specialCase]="true"></platform-list>



<H2 class="text-center p-3">Student Government Reforms</H2>

<platform-list [platforms] = "varsity" [specialCase]="true"></platform-list>

<H2 class="text-center p-3">Commitments</H2>

<platform-list [platforms] = "yourcampus" [specialCase]="true"></platform-list>
