/* P{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
} */

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    line-height: 1.2;
}
p span{
    color: #bb0f55;
}
H3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28pt;
}

H1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.intro-vid{
    text-align: center;
    padding-top: 20px;
}

#line-strip{
    height: 0px;
    width: 100%;
    border-bottom: 2px solid #bb0f55;
}
